* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    scroll-behavior: smooth;
  }

.container-fluid {
    background-color: rgba(80, 208, 250, 0.735);
  }
  
  .navbar {
    position: fixed;
    width: 100vw;
    border: none;
    padding: 0;
  }
  
  .navbar-brand {
    font-family: 'Grechen Fuemen', cursive;
    font-size: 43px;
  }
  
.aviao {
  transition: 1s;
  position: fixed;
}

.aviao:hover {
  padding-left: 100%;
  margin-bottom: 90%;
}




  .banner {
    background-image: url(/ctd-fronti-checkpoint3/img/banner.jpg);
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 80px;
    .detalhes {
        background-color: rgba(119, 136, 153, 0.653);
        width: 75vw;
        height: 75vh;
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 20px;
        h1 {
            font-family: 'Grechen Fuemen', cursive;
            font-size: 50px;
            color: rgb(46, 34, 89);
            background-color: rgba(80, 208, 250, 0.735);
            padding: 20px;
            border-radius: 20px;
            margin: 50px;
        }

        p {
            font-family: 'Darker Grotesque', sans-serif;
            font-size: 24px;
            padding: 20px;
            margin: 50px;
            border-radius: 20px;
            color: rgb(46, 34, 89);
            background-color: rgba(80, 208, 250, 0.735);
        }
    }
  }
  
  .destinos {
    padding-top: 80px;
  }
  
  .figure-caption {
    font-size: 20px;
  }

  .btn-primary {
    background-color: rgba(80, 208, 250, 0.735);;
    color: rgb(26, 8, 77);
  }

  @media (max-width: 900px) {
    .detalhes p {
        font-size: 12px;
        font-family: 'Darker Grotesque', sans-serif;
    }
